body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: white;
    padding: 0;
    text-align: center; 
}

/* header settings */
header {
    width: 100%;
    height: 100px;
}

/* topnav settings */

.topnav {
    background-color: #731d52;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.topnav img {
    width: 15%;
    text-align: center;
    padding-top: 0;
}


/* booking class settings */
.booking {
 
    font-size: medium;
    font-weight: 500;
    border-radius: 5px;
    background-color: #f2f2f2;
  
}

.booking .row:after {
    font-size: medium;
    font-weight: 500;
    text-align: LEFT;
    display: table;
    content: "";
    clear: both; 
}

 /* input settings for texts*/
 .booking input[type=text] {
    width: 60%;
    padding: 12px;
    border: 1px solid rgb(134, 39, 130);
    border-radius: 4px;
    text-align: center;
    font-weight: 600;

}

/* select settings for country */
.booking select[id=country] {
    width: 62%;
    padding: 12px;
    border: 1px solid rgb(134, 39, 130);
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

.booking label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.booking .one {
    float: left;
    width: 25%;
    margin-top: 20px;
}

.booking .two {
    float: left;
    width: 75%;
    margin-top: 35px;
}
 .time {
 float: left;
font-weight: 600;
margin-top: 30px;
margin-left: 10px;

}

/*  payment button settings */

button {
    margin-top: 40px;
    margin-right: 150px;
    background-color:#500d36;;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
   
}
button a {
    color: #bea8ba;
}
button:hover {
background-color: #742556;;
}


/* footer settings */

footer {
    margin-top: 40px;

    background-color:  #500d36;
    text-align: left;
}

footer ul {
    display: inline-block;
    list-style: none;
}

footer ul h3 {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
}

footer ul li {
    padding-top: 20px;
}

footer ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

footer ul li a:hover {
    color: #d297e2;
}

footer p {
    text-align: center;
    text-decoration: #140112;
    margin: 0;
    padding: 5px;
}
