body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color:  #dcabc4;
  }
  
  /* header settings */
  header {
    width: 100%;
    height: 100px;
  }
  a {
    color: #d5bddc;
    font-weight: 300;
  }
  .topnav {
    background-color:#731d52;
    overflow: hidden;
    width: 100%;
    text-align: center;
  
  }
  
  .topnav img {
    width: 15%;
    text-align: center;
  
  }
  .booking-form {
    margin: 20px 70px;
  
    text-align: center;
    padding: 70px;
    background: #731d52;
   

  }
  
  div.main-info {
    margin: 20px 0;
    color: #ffffff;
   /*  display: inline-block; */
  }
  
  div.main-info.inlined {
    width: 49%;
    /* display: inline-block; */
    float: left;
    
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.main-info.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  button {
    height: 50px;
    background: rgb(56, 13, 31);
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
  }
  
  button:hover {
    background: #333;
  }
  footer {
    margin-top: 40px;
    background-color: #500d36;
    text-align: left;
  }
  
  footer ul {
    display: inline-block;
    list-style: none;
  }
  
  footer ul h3 {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
  }
  
  footer ul li {
    padding-top: 20px;
  }
  
  footer ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
  }
  
  footer ul li a:hover {
    color: #d297e2;
  }
  
  footer p {
    text-align: center;
    text-decoration: #140112;
    margin: 0;
    padding: 5px;
  }