body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: rgb(233, 209, 234);
}

/* header settings */
header {
    width: 100%;
    height: 100px;
}

/* topnav settings */

.topnav {
    background-color: #731d52;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.topnav img {
    width: 15%;
    text-align: center;
    padding-top: 0;
}
.map {
    text-align: center;
    padding: 20px 20px 40px 20px;
    margin: 40px;
    margin-bottom: px;
    background-color: #731d52;
}
footer {
    margin: 0%;
    background-color: #500d36;
    text-align: left;
  }
  
  footer ul {
    display: inline-block;
    list-style: none;
  }
  
  footer ul h3 {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
  }
  
  footer ul li {
    padding-top: 20px;
  }
  
  footer ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
  }
  
  footer ul li a:hover {
    color: #d297e2;
  }
  
  footer p {
    text-align: center;
    text-decoration: #140112;
    margin: 0;
    padding: 5px;
  }


